name: Build and Deploy

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Docker
        uses: docker/setup-buildx-action@v2

      - name: Build and Push
        run: |
          docker build -t myminiacr.azurecr.io/mini-cloud-service:latest .
          echo "${{ secrets.ACR_PASSWORD }}" | docker login myminiacr.azurecr.io -u ${{ secrets.ACR_USERNAME }} --password-stdin
          docker push myminiacr.azurecr.io/mini-cloud-service:latest

      - name: Deploy to Kubernetes
        run: |
          kubectl apply -f deployment.yaml
          kubectl apply -f service.yaml

